@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 10% 15%;
    --foreground: 210 17% 93%;
    --card: 223 21% 24%;
    --card-foreground: 210 17% 93%;
    --popover: 223 21% 24%;
    --popover-foreground: 210 17% 93%;
    --primary: 225 100% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 225 19% 21%;
    --secondary-foreground: 210 13% 71%;
    --muted: 225 19% 21%;
    --muted-foreground: 210 13% 71%;
    --accent: 226 17% 30%;
    --accent-foreground: 0 0% 100%;
    --destructive: 354 70% 54%;
    --destructive-foreground: 0 0% 100%;
    --border: 224 21% 29%;
    --input: 224 21% 29%;
    --ring: 225 100% 60%;
    --radius: 0.5rem;
    --chart-1: 225 100% 60%;
    --chart-2: 45 100% 51%;
    --chart-3: 332 80% 58%;
    --chart-4: 135 63% 40%;
    --chart-5: 162 72% 45%;
  }

  .dark {
    --background: 210 10% 15%;
    --foreground: 210 17% 93%;
    --card: 223 21% 24%;
    --card-foreground: 210 17% 93%;
    --popover: 223 21% 24%;
    --popover-foreground: 210 17% 93%;
    --primary: 225 100% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 225 19% 21%;
    --secondary-foreground: 210 13% 71%;
    --muted: 225 19% 21%;
    --muted-foreground: 210 13% 71%;
    --accent: 226 17% 30%;
    --accent-foreground: 0 0% 100%;
    --destructive: 354 70% 54%;
    --destructive-foreground: 0 0% 100%;
    --border: 224 21% 29%;
    --input: 224 21% 29%;
    --ring: 225 100% 60%;
    --chart-1: 225 100% 60%;
    --chart-2: 45 100% 51%;
    --chart-3: 332 80% 58%;
    --chart-4: 135 63% 40%;
    --chart-5: 162 72% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1 {
    @apply font-headline text-2xl font-semibold;
  }
  h2 {
    @apply font-headline text-xl font-medium;
  }
}
